name: Validate-YAML

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  validate-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate YAML file
        run: yamllint -c yaml_lint.yml --no-warnings data/*.yaml
